@model Cummulative1_schooldb.Models.ErrorViewModel
@{
    ViewBag.Title = "Error";
}

<div id="containerlist">
    <h2>Error</h2>
    <p>@Model.Message</p>
    <a href="/TeacherPage/List" class="navlink">Back to Teacher List</a>
</div>
